<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shipping page | Paytm Mall'</title>
    <link rel="icon" href="logo/favicon.png" />
    <link rel="stylesheet" href="styles/address.css">

</head>
<style>

</style>

<body>
    <div id="nav"></div>

    <div id="forminp">
        <form id="form_ship">
            <div id="fship">
                <p class="ship_det">shiping Address</p>
                <label for="fname">First name</label><br />
                <input type="text" name="fname" id="fname" />
                <br />
                <label for="lname">Last name</label><br />
                <input type="text" name="lname" id="lname" />
                <br />
                <label for="add1">Address1</label><br />
                <input type="text" name="add1" id="add1" />
                <br />
                <label for="add2">Address2</label><br />
                <input type="text" name="add2" id="add2" />
                <br />
                <label for="zcode">Country</label><br />
                <input type="text" name="Country" id="country" />
                <br />
                <label for="zcode">Zip code</label><br />
                <input type="number" name="Zcode" id="zcode" />
                <br />
                <label for="num">Phone</label><br />
                <input type="number" name="num" id="num" />
                <br />
                <input type="checkbox" id="add_bill" name="add_bill" value="add_bill" />
                <label for="add_bill"> Use Address for Billing</label><br />
                <br>
                <input id="change" type="submit" value="Submit Address">
            </div>
        </form>
    </div>

    </div>



</body>

</html>
<script src="scripts/address.js">




</script>