<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="logo/favicon.png" />
    <title>Paytm Mall-Indis's Premier Online Shopping Mall</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- font css  -->



    <link rel="stylesheet" href="styles/navbar.css">
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/footer_ques.css">
    <link rel="stylesheet" href="styles/all.min.css">


    <style>
        #mainLogo img {
            height: 4.8vh;
            width: 70%;
        }
    </style>
</head>

<body>
    <div id="nav">

    </div>

    <div id="container">
        <div class="img1 click"
            aria-valuetext="https://assetscdn1.paytm.com/images/catalog/product/D/DE/DEAQCQWIK861793E913559F/0.png?imwidth=282&impolicy=hq">
            <a href=""><img
                    src="https://assetscdn1.paytm.com/images/catalog/view_item/940221/1643716500478.jpg?imwidth=1600&impolicy=hq"
                    alt="" /></a>
        </div>

        <div class="box2">
            <div class="img2 click"
                aria-valuetext="https://assetscdn1.paytm.com/images/catalog/product/D/DE/DEAQCQWIK861793A7D2F5F9/0.png?imwidth=282&impolicy=hq">
                <a href=""><img
                        src="https://assetscdn1.paytm.com/images/catalog/view_item/865487/1643716361063.jpg?imwidth=480&impolicy=hq"
                        alt="" /></a>
            </div>

            <div class="img3 click"
                aria-valuetext="https://assetscdn1.paytm.com/images/catalog/product/D/DE/DEAVOUCHER-WORTQWIK8617935FB64063/3.png?imwidth=282&impolicy=hq">
                <a href=""><img
                        src="https://assetscdn1.paytm.com/images/catalog/view_item/916685/1643263804492.jpg?imwidth=480&impolicy=hq"
                        alt="" /></a>
            </div>
        </div>
    </div>
    <!-- <img src="assets/logo/list.png" alt=""> -->
    <div id="hh"></div>
    <!-- main container ends here -->

    <div class="container-fluid w_90 bg-white">



        <!-- corousel section -->

        <div class="row ">
            <div id="carouselExampleControls" class="carousel slide mt-4 " data-bs-ride="carousel">
                <div class="carousel-inner w-90">
                    <div class="carousel-item active">
                        <div class="row gap-5 mt-3 mapCoupon" id="carouseOne">

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row gap-5 mt-3 mapCoupon" id="carouseTwo">

                        </div>
                    </div>

                </div>
                <button class="carousel-control-prev d-none d-sm-block slide-button previous1" type="button"
                    data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next d-none d-sm-block slide-button previous2" type="button"
                    data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="row">
            <div class=" mt-4">
                <div id="carouselExampleControls1" class="carousel slide  mt-4 " data-bs-ride="carousel">
                    <div class="carousel-inner W-90">
                        <div class="carousel-item active">
                            <div class="row gap-5 mt-3 mapCoupon" id="carouseThree">

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row gap-5 mt-3 mapCoupon" id="carouseFour">

                            </div>
                        </div>

                    </div>
                    <button class="carousel-control-prev d-none d-sm-block slide-button previous1" type="button"
                        data-bs-target="#carouselExampleControls1" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next d-none d-sm-block slide-button previous2" type="button"
                        data-bs-target="#carouselExampleControls1" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="container-fluid w-90 mt-4">
                <div id="carouselExampleControls2" class="carousel slide mt-4 " data-bs-ride="carousel">
                    <div class="carousel-inner W-90">
                        <div class="carousel-item active">
                            <div class="row gap-5 mt-3 mapCoupon" id="carouseFive">

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row gap-5 mt-3 mapCoupon" id="carouseSix">

                            </div>
                        </div>

                    </div>
                    <button class="carousel-control-prev d-none d-sm-block slide-button previous1" type="button"
                        data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next d-none d-sm-block slide-button previous2" type="button"
                        data-bs-target="#carouselExampleControls2" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>



    </div>

    <div class="container-fluid gap ">
        <div class="row">
            <div class="col center">
                <h2 class="h1 bold1">Grocery & Home Furnishing</h2>
            </div>
        </div>
        <div class="row w-96">
            <div id="carouselExampleControls4" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active ">
                        <div class="col grid" id="carouseSeven">




                        </div>

                    </div>
                    <div class="carousel-item">
                        <div class="col grid" id="carouseEight">


                        </div>
                    </div>

                </div>
                <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleControls4"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon button" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleControls4"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon button" aria-hidden="true"></span>
                    <span class="visually-hidden ">Next</span>
                </button>
            </div>
        </div>
        <div class="row red"></div>
        <div class="row">
            <div class="col center">
                <h2 class="h1 bold1">Jewellery Brands</h2>
            </div>
        </div>
        <div class="row w-88">
            <div id="carouselExampleControls5" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active ">
                        <div class="col grid" id="carouseNine">


                        </div>

                    </div>
                    <div class="carousel-item">
                        <div class="col grid" id="carouseTen">


                        </div>
                    </div>

                </div>
                <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleControls5"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon button" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleControls5"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon button" aria-hidden="true"></span>
                    <span class="visually-hidden ">Next</span>
                </button>
            </div>
        </div>
        <div class="row red"></div>

        <div id="question" class="bg-grey">

        </div>
        <div id="footer" class="bg-grey">

        </div>
    </div>

</body>

</html>

<!-- bootstrap js  -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>




<!-- import data  -->
<script type="module">

    import { navbar } from "./components/navbar.js"
    import { question } from "./components/question.js"
    import { footer } from "./components/footer.js"
    import { cookies } from "./components/cookies.js"


    let nav = document.getElementById("nav")
    nav.innerHTML = navbar()

    let question1 = document.getElementById("question")
    question1.innerHTML = question()

    let foot = document.getElementById("footer")
    foot.innerHTML = footer()
    //**************************
    // sticky navbar
    window.onscroll = function () {
        myFunction();
    };

    var navShow = document.getElementById("navDetails");
    var sticky = navShow.offsetTop;

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navShow.classList.add("sticky");
            navShow.style.backgroundColor = "white";
        } else {
            navShow.classList.remove("sticky");
        }
    }
    //******************************
    let user = document.createElement("div")

    // it is used for show the total price in navbar
    let Total = JSON.parse(localStorage.getItem("totalCart"))
    if (Total) {
        document.getElementById("totalPrice").textContent = Total
    }
    document.getElementById("totalPrice").addEventListener("click", () => {
        window.location.href = "cartPage.html"
    })



    //******************
    // it is used for disPlay the name on the navbar
    const disPlayName = async () => {
        let userName = document.querySelector("#u-name")
        let subArr = cookies("token")
        if (subArr == undefined) {
            userName.textContent = "Login/SignUp"
        }
        else {
            let res = await fetch("https://paytm-mall-clone.herokuapp.com/user", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    // Authorization: `Bearer ${token}`,
                    Authorization: `Bearer ${subArr}`,
                },
            });
            let data = await res.json()
            // console.log(data)


            userName.textContent = data.name
            return data
        }

    }
    let unknown = disPlayName()

    //******************** go to my order page *******************//
    const goToOrder = async () => {
        let data = await disPlayName()
        console.log(data)
        if (!data) {
            alert("please sign in")
            window.location.href = "qrsign.html"
            console.log("hello")
        }
        else {
            window.location.href = "myOrder.html"
        }
    }
    document.getElementById("order").addEventListener("click", goToOrder)
    //*********************************************************



    document.getElementById("user").addEventListener("click", () => {
        console.log("hello")
        window.location.href = "qrsign.html"
    })

    // ****************** for all bottom section************************//
    let fashion = document.querySelectorAll(".fashion")
    // console.log(fashion)
    fashion.forEach(el => {
        el.addEventListener("click", () => {
            let value = el.ariaValueText
            console.log(value, "sagar")
            // localStorage.setItem("fashionValue", JSON.stringify(value))
            document.cookie = "fashion=" + value
            window.location.href = "fashionPage.html"
        })
    })
    let visible = document.querySelector(".hidden")
    document.querySelector(".none").addEventListener("click", () => {
        visible.classList.toggle("hidden")
    })

</script>

<script src="scripts/index.js"></script>