


body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;  
    box-sizing: border-box;
    background-image: url(/logo/sign-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backface-visibility: var(.5px);
}
/* -------------------------------------------------------LOGIN.HTML CSS-------------------------------------------------------------------- */
.virat{
    color: red;
    }
    
.container{
    /* background: rgb(208,133,240); */
    /* background: radial-gradient(circle, rgba(208,133,240,0.5)  ,rgba(169,113,193,1) ); */
    /* border: 2px solid red; */
    width:60%;
    height: 600px;
    display: flex;
    margin: 50px auto;
    justify-content: right;
    box-shadow: rgba(99, 99, 99, 0.9) 0px 3px 8px 0px;
    z-index: 100;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* align-items: center; */
}
#container{
    /* border: 2px solid red; */
    height: 60%;
    align-self: flex-start;
    width: 500px;
}
li{
    font-size: larger;
}

button{
    border: 2px solid black;
    color: white;
    height: 45px;
    width: 170px;
}
#btn{
    border: 2px solid white;
    height: 30px;
    width: 150px;
    color: red;
}
.box{
    /* background-color: white; */
    /* border:0.5px solid rgb(189, 187, 187); */
    border-radius:5px;
    padding:20px;
    box-shadow: 0px 0px 10px 0px grey;
    display:flex;
    flex-direction: column;
}

#input{
    border:0.5px solid rgb(189, 187, 187);
    border-radius:15px;
    font-size: 15px;
    text-align: center;
    background-color: rgba(189, 187, 187,0.3);
    padding:5px 10px;
}
#generate_qr{
    width: 100%;
    margin-top: 15px;
    cursor: pointer;
    border:none;
    border-radius:15px;
    font-size: 15px;
    text-align: center;
    background-color: rgba(247, 0, 0, 0.774);
    padding:5px 10px;
    color:white;
}

#generate_qr:hover {
    background-color: rgba(143, 16, 16, 0.774);   
}

#qrcode{
    width: 250px;
    margin:20px;
}

#or{
    width: 30px;
    margin:10px auto;
    font-size: 1.2em;
}

